@font-face{
    font-family: 'Source Code Pro';
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceCodePro-Light.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceCodePro-Regular.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSansPro-Light.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSansPro-Regular.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 100;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/SourceSansPro-LightIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/SourceSansPro-It.otf.woff') format('woff');
}

html {
}

body {
    color: #222;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.5em;
    padding: 1em;
    margin: auto;
    max-width: 42em;
    background: #fff;
    counter-reset: h1 h2 h3;
}

strong {
    font-weight: 400;
}

p {
    margin: 1em 0;
    text-align: justify;
}

/* --- Links --------------------------------------------------------------- */
a {
    color: #06e;
    text-decoration:none;
}
a:visited {
    color: #06e;
}
a:hover {
    color: #06e;
    border-bottom: .5px solid #06e;
}
a:active {
    color:#000000;
}

@media print {
    h1 {
        page-break-before: always;
    }
}

/* --- Headers ------------------------------------------------------------- */
h1::before {
    content: counter(h1) "";
    counter-increment: h1;
    margin-right:10px;
    color: white;
    background-color: black;
    padding-left: 10px; padding-right:10px;
}
h2::before {
    content: counter(h1) "."counter(h2) " ";
    counter-increment: h2;
    margin-right: 10px;
}
h3::before {
    content: counter(h1) "."counter(h2) "."counter(h3) " ";
    counter-increment: h3;
    margin-right:10px;
}


::selection {
    color: #000;
    background-color: #f0f0ff;
}

h1, h2, h3 {
    padding: 15px 0 3px;
    clear: both;
    font-weight: 400;
}
h1 { font-size: 1.5em; counter-reset: h2;   padding-top: 2.5em;}
h2 { font-size: 1.25em;  counter-reset: h3; padding-top: 1.5em;}
h3 { font-size: 1.25em;  counter-reset: h4; padding-top: 1.5em;}
h4, h5, h6 { font-size: 1.00em; }
/* h3, h4, h5, h6 { font-size: 1.00em; } */
h1, h1 a, h1 a:visited,
h2, h2 a, h2 a:visited,
h3, h3 a, h3 a:visited,
h4, h4 a, h4 a:visited {
    color: black;
}
h1, h1 a, h1 a:visited {
    decoration: none;
    color: black;
    margin-top: 3em;
    border-bottom: 2px solid black;
    padding-left:  5%;
    margin-left:  -5%;
}
h1 a:hover {
     color: #06e;
/*       color: white;
       background-color: black; */
}
h2 a:hover, h3 a:hover {
    color: black;
    border-bottom: 1px solid black;
}

/* --- Images -------------------------------------------------------------- */
.bordered {
    border: 1px solid black;
}
@media print {
    h1, h2 {
        page-break-before: always;
    }
    .main-content {
        page-break-before: always;
    }
    pre.code {
        white-space: pre-wrap;
    }
}
/* --- Table of contents --------------------------------------------------- */
.main-content {
    padding-top: 1em;
}

.main-content .topic-title {
    border-bottom: 1px solid black;
    padding-left:  5%;
    margin-left:  -5%;
}

.main-content ul.simple {
    padding-left: 0;
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
}

.main-content ul ul {
    padding-left: 1em;
}

.main-content ul.simple li {
    color: #06e;
    font-weight: 400;
    list-style-type: decimal;
    list-style-position: inside;
/*  list-style-type: none;*/
}

.main-content ul.simple li li {
    font-weight: 200;
    list-style-type: none;
}
.main-content ul.simple li li:before {
    content: "•"; /* Insert content that looks like bullets */
    padding-right: 0.5em;
}




/* --- Title/Subtitle ------------------------------------------------------ */
h1.title::before { content: none; }
h1.title {
    font-size: 2.0em;
    font-weight: 500;
    text-align: center;
    margin: 0;
    margin-top:    64px;
    margin-bottom: 12px;
    padding: 0;
    border: none;
}
h2.subtitle::before { content: none; }
h2.subtitle {
    font-size: 1.0em;
    font-weight: 500;
    text-align: center;
    padding: 0;
}
.title-logos {
    /* opacity: 0.15; */
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
}
.title-logos p {
    text-align: center;
}


/* --- Math ---------------------------------------------------------------- */
span.formula {
    color: #955;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}
div.formula {
    color: #955;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

/* --- Code ---------------------------------------------------------------- */
code {
    font-size: 95%;
    font-weight: 300;
    font-family: 'Source Code Pro';
}
pre.code {
    font-size:      85%;
    font-family:    'Source Code Pro', monospace;
    line-height:    125%;
    background:     #fcfcfc;
    border-top:     .5px solid #ccc;
    border-bottom:  .5px solid #ccc;
    padding-left:   2.0em;
    padding-top:    0.5em;
    padding-bottom: 0.5em;
}
pre.output {
    font-size:      85%;
    font-family:    'Source Code Pro', monospace;
    line-height:    125%;
    background:     #fff;
    border:         none;
    padding-left:   2.0em;
    padding-top:    0.5em;
    padding-bottom: 0.5em;
}

.function, .class {
    font-weight: 400;
}
.comment {
    color: #459;
}

/* --- Bibliography -------------------------------------------------------- */
.abstract {
    border-left: 1px solid #ddd;
    padding-left: 1em;
    font-size:    85%;
    line-height: 125%;
}
.line-block {
    line-height: 125%;
}

/* --- Tables -------------------------------------------------------------- */
table {
    margin-left: auto;
    margin-right: auto;
    min-width: 33%;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    border-bottom: .5px solid #999999;
}
td, th {
    border: none;
}
th {
    text-align: left;
    font-weight: 400; /* Make sure they're bold */
    border-bottom: 1px solid black;
}
td {
    text-align: left;
    border: none;
}
tr:nth-child(even) td {
    background: #f0f0f0;
}

/* --- Admonitions --------------------------------------------------------- */
.note {
    font-size: 85%;
    line-height: 125%;
    float: left;
    width: 240px;
    padding: 0;
    margin-left: -270px;
}
.note p {
    text-align: left;
    padding: 0;
    margin:0;
    padding-top: 0.5em;
}
.note p.first {
    padding: 0;
    padding-bottom: .5em;
    font-weight: 400;
    border-bottom: 1px solid #000;
}

.legend {
    font-size: 85%;
    line-height: 125%;
    padding: 0;
    float: right;
    width: 240px;
    margin-right: -270px;
}
.legend p {
    text-align: left;
    padding: 0;
    margin:0;
    padding-top: 0.5em;
}
.legend p.first {
    padding: 0;
    padding-bottom: .5em;
    font-weight: 400;
    border-bottom: 1px solid #000;
}


/* --- other formatting ---------------------------------------------------- */
.strike {
  text-decoration: line-through;
}

.python .hll { background-color: #ffffcc }
.python  { background: #ffffff; }
.python .c { color: #177500 } /* Comment */
.python .err { color: #000000 } /* Error */
.python .k { color: #A90D91 } /* Keyword */
.python .l { color: #1C01CE } /* Literal */
.python .n { color: #000000 } /* Name */
.python .o { color: #000000 } /* Operator */
.python .ch { color: #177500 } /* Comment.Hashbang */
.python .cm { color: #177500 } /* Comment.Multiline */
.python .cp { color: #633820 } /* Comment.Preproc */
.python .cpf { color: #177500 } /* Comment.PreprocFile */
.python .c1 { color: #177500 } /* Comment.Single */
.python .cs { color: #177500 } /* Comment.Special */
.python .kc { color: #A90D91 } /* Keyword.Constant */
.python .kd { color: #A90D91 } /* Keyword.Declaration */
.python .kn { color: #A90D91 } /* Keyword.Namespace */
.python .kp { color: #A90D91 } /* Keyword.Pseudo */
.python .kr { color: #A90D91 } /* Keyword.Reserved */
.python .kt { color: #A90D91 } /* Keyword.Type */
.python .ld { color: #1C01CE } /* Literal.Date */
.python .m { color: #1C01CE } /* Literal.Number */
.python .s { color: #C41A16 } /* Literal.String */
.python .na { color: #836C28 } /* Name.Attribute */
.python .nb { color: #A90D91 } /* Name.Builtin */
.python .nc { color: #3F6E75 } /* Name.Class */
.python .no { color: #000000 } /* Name.Constant */
.python .nd { color: #000000 } /* Name.Decorator */
.python .ni { color: #000000 } /* Name.Entity */
.python .ne { color: #000000 } /* Name.Exception */
.python .nf { color: #000000 } /* Name.Function */
.python .nl { color: #000000 } /* Name.Label */
.python .nn { color: #000000 } /* Name.Namespace */
.python .nx { color: #000000 } /* Name.Other */
.python .py { color: #000000 } /* Name.Property */
.python .nt { color: #000000 } /* Name.Tag */
.python .nv { color: #000000 } /* Name.Variable */
.python .ow { color: #000000 } /* Operator.Word */
.python .mb { color: #1C01CE } /* Literal.Number.Bin */
.python .mf { color: #1C01CE } /* Literal.Number.Float */
.python .mh { color: #1C01CE } /* Literal.Number.Hex */
.python .mi { color: #1C01CE } /* Literal.Number.Integer */
.python .mo { color: #1C01CE } /* Literal.Number.Oct */
.python .sa { color: #C41A16 } /* Literal.String.Affix */
.python .sb { color: #C41A16 } /* Literal.String.Backtick */
.python .sc { color: #2300CE } /* Literal.String.Char */
.python .dl { color: #C41A16 } /* Literal.String.Delimiter */
.python .sd { color: #C41A16 } /* Literal.String.Doc */
.python .s2 { color: #C41A16 } /* Literal.String.Double */
.python .se { color: #C41A16 } /* Literal.String.Escape */
.python .sh { color: #C41A16 } /* Literal.String.Heredoc */
.python .si { color: #C41A16 } /* Literal.String.Interpol */
.python .sx { color: #C41A16 } /* Literal.String.Other */
.python .sr { color: #C41A16 } /* Literal.String.Regex */
.python .s1 { color: #C41A16 } /* Literal.String.Single */
.python .ss { color: #C41A16 } /* Literal.String.Symbol */
.python .bp { color: #5B269A } /* Name.Builtin.Pseudo */
.python .fm { color: #000000 } /* Name.Function.Magic */
.python .vc { color: #000000 } /* Name.Variable.Class */
.python .vg { color: #000000 } /* Name.Variable.Global */
.python .vi { color: #000000 } /* Name.Variable.Instance */
.python .vm { color: #000000 } /* Name.Variable.Magic */
.python .il { color: #1C01CE } /* Literal.Number.Integer.Long */
